openapi: 3.0.3
info:
  title: Rocky Store Api
  description: |-
    This is a sample Pet Store Server based on the OpenAPI 3.0 specification.  You can find out more about
  version: 1.0.0
servers:
- url: https://pos.sanjairocky.in/api
tags:
- name: products
  description: Access to products
- name: stores
  description: Access to store products
- name: orders
  description: Access to Orders
paths:
  /products:
    get:
      tags:
      - products
      summary: Finds all products
      description: all products
      operationId: findPetsByStatus
      parameters:
      - name: page
        in: query
        description: Page number for pagination.
        required: true
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: Number of products per page.
        required: true
        schema:
          type: integer
          format: int32
      - name: query
        in: query
        description: Search query for filtering products.
        required: false
        schema:
          type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - $ref: "#/components/schemas/Product"
                  - $ref: "#/components/schemas/Id"
        "500":
          description: Internal server error
    post:
      tags:
      - products
      summary: create product
      description: add product
      operationId: createProduct
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Product"
      responses:
        "201":
          description: successful operation
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/Product"
                - $ref: "#/components/schemas/Id"
        "400":
          description: Invalid product value
        "500":
          description: Internal server error
  /products/{productId}:
    get:
      tags:
      - products
      summary: get product
      description: get product
      operationId: getProduct
      parameters:
      - name: productId
        in: path
        description: Product Id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "201":
          description: successful operation
          content:
            application/json:
              schema:
                allOf:
                - $ref: "#/components/schemas/ProductWithStores"
                - $ref: "#/components/schemas/Id"
        "400":
          description: Invalid product value
        "500":
          description: Internal server error
  /stores:
    post:
      tags:
      - stores
      summary: create store
      description: add store
      operationId: createStore
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Store"
      responses:
        "201":
          description: successful operation
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Store"
                  - $ref: "#/components/schemas/Id"
        "400":
          description: Invalid product value
        "500":
          description: Internal server error
  /stores/{storeId}/inventory:
    get:
      tags:
      - stores
      summary: get all store products
      description: get products of the store
      operationId: GetAllStoreProducts
      parameters:
      - name: storeId
        in: path
        description: Store Id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "201":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - $ref: "#/components/schemas/Product"
                  - $ref: "#/components/schemas/Id"
                  - $ref: "#/components/schemas/Quantity"

        "400":
          description: Invalid product value
        "500":
          description: Internal server error
    put:
      tags:
      - stores
      summary: update store products
      description: update  store products
      operationId: updateStoreProducts
      parameters:
      - name: storeId
        in: path
        description: Store Id
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                allOf:
                - $ref: "#/components/schemas/ProductWithStore"
                - $ref: "#/components/schemas/Id"
                - $ref: "#/components/schemas/Quantity"
      responses:
        "202":
          description: successful operation
        "204":
          description: not found
        "400":
          description: Invalid product value
        "500":
          description: Internal server error
  /orders:
    get:
      tags:
      - orders
      summary: search orders
      description: orders search
      operationId: searchOrders
      parameters:
      - name: storeId
        in: query
        description: Store Id
        required: true
        schema:
          type: integer
          format: int64
      - name: orderType
        in: query
        description: Order Type
        required: true
        schema:
          type: string
          example: Purchase
      responses:
        "201":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - $ref: "#/components/schemas/Order"
                  - $ref: "#/components/schemas/Id"
        "400":
          description: Invalid product value
        "500":
          description: Internal server error
  /stores/{storeId}/orders:
    post:
      tags:
      - orders
      summary: create order
      description: checkout order
      parameters:
      - name: storeId
        in: path
        description: Store Id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "201":
          description: successful operation
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Id"
        "400":
          description: Invalid status value
        "500":
          description: Internal server error
  /stores/{storeId}/orders/{orderId}:
    get:
      tags:
      - orders
      summary: get store order by id
      description: get Order of the store by id
      operationId: GetStoreOrderById
      parameters:
      - name: storeId
        in: path
        description: Store Id
        required: true
        schema:
          type: integer
          format: int64
      - name: orderId
        in: path
        description: Order Id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "201":
          description: successful operation
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Order"
                  - $ref: "#/components/schemas/Id"
        "400":
          description: Invalid product value
        "500":
          description: Internal server error
    post:
      tags:
      - orders
      summary: checkout store order
      description: checkout Order of the store
      operationId: CheckoutStoreOrder
      parameters:
      - name: storeId
        in: path
        description: Store Id
        required: true
        schema:
          type: integer
          format: int64
      - name: orderId
        in: path
        description: Order Id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "201":
          description: successful operation
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Order"
                  - $ref: "#/components/schemas/Id"
        "400":
          description: Invalid product value
        "500":
          description: Internal server error
  /stores/{storeId}/orders/{orderId}/products/{productId}:
    put:
      tags:
      - orders
      summary: Add product to an order
      description: add a product to an order
      parameters:
      - name: productId
        in: path
        description: Product Id
        required: true
        schema:
          type: integer
          format: int64
      - name: storeId
        in: path
        description: Store Id
        required: true
        schema:
          type: integer
          format: int64
      - name: orderId
        in: path
        description: Order Id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "202":
          description: successful operation
        "204":
          description: not found
        "400":
          description: Invalid status value
        "500":
          description: Internal server error
    delete:
      tags:
      - orders
      summary: delete product from an order
      description: delete a product from an order
      parameters:
      - name: productId
        in: path
        description: Product Id
        required: true
        schema:
          type: integer
          format: int64
      - name: storeId
        in: path
        description: Store Id
        required: true
        schema:
          type: integer
          format: int64
      - name: orderId
        in: path
        description: Order Id
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "202":
          description: successful operation
        "204":
          description: not found
        "400":
          description: Invalid status value
        "500":
          description: Internal server error
components:
  schemas:
    Product:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          example: doggie
        description:
          type: string
          example: >-
            this is sample product
    ProductWithStore:
      required:
      - name
      type: object
      allOf:
      - $ref: "#/components/schemas/Product"
      properties:
        store:
          type: object
          allOf:
          - $ref: "#/components/schemas/Store"
          - $ref: "#/components/schemas/Id"
    ProductWithStores:
      required:
      - name
      type: object
      allOf:
      - $ref: "#/components/schemas/Product"
      properties:
        store:
          type: array
          items:
            allOf:
            - $ref: "#/components/schemas/Store"
            - $ref: "#/components/schemas/Price"
            - $ref: "#/components/schemas/Id"
    Price:
      type: object
      required:
      - price
      properties:
        price:
          type: integer
          format: float
          example: 10.16
    Quantity:
      type: object
      required:
      - quantity
      properties:
        quantity:
          type: integer
          format: float
          example: 10
    Id:
      type: object
      required:
      - id
      properties:
        id:
          type: integer
          format: int64
          example: 10
    Store:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          example: doggie store
        description:
          type: string
          example: doggie store description
    Order:
      type: object
      properties:
        total:
          type: integer
          format: float
          example: 1100.00
        subTotal:
          type: integer
          format: float
          example: 1000.00
        sGst:
          type: integer
          format: float
          example: 50.00
        cGst:
          type: integer
          format: float
          example: 50.00
        tax:
          type: integer
          format: float
          example: 100.00
        store:
          allOf:
          - $ref: "#/components/schemas/Store"
          - $ref: "#/components/schemas/Id"
        products:
          type: array
          items:
            allOf:
            - $ref: "#/components/schemas/Product"
            - $ref: "#/components/schemas/Id"
            - $ref: "#/components/schemas/Price"
            - $ref: "#/components/schemas/Quantity"
  securitySchemes:
    pos_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://auth.sanjairocky.in/oauth/authorize
          scopes:
            write:products: modify products in your store
            read:products: read your products
    api_key:
      type: apiKey
      name: api_key
      in: header
